---
title: Jogos entre Fan Hui(2p) e AlphaGo
---
	<section>
		
		<h3>Jogo #1 - Fan Hui (pretas) x AlphaGo (brancas) - 05/10/2015</h3>

		{% review segunda %}

		<p></p>
    {% endreview %}

		<h3>Jogo #2 - AlphaGo (pretas) x Fan Hui (brancas) - 06/10/2015</h3>

		{% review terca %}

		<p></p>
    {% endreview %}

		<h3>Jogo #3 - Fan Hui (pretas) x AlphaGo (brancas) - 07/10/2015</h3>

		{% review quarta %}

		<p></p>
    {% endreview %}

		<h3>Jogo #4 - AlphaGo (pretas) x Fan Hui (brancas) - 08/10/2015</h3>

		{% review quinta %}

		<p></p>
    {% endreview %}

		<h3>Jogo #5 - Fan Hui (pretas) x AlphaGo (brancas) - 09/10/2015</h3>

		{% review sexta %}

		<p></p>
    {% endreview %}

		<p>Se quiser baixar essas partidas em formato SGF, entre em <a href="http://go.alamino.net/playgoto/sgfs/fanhui_alphago">http://go.alamino.net/playgoto/sgfs/fanhui_alphago</a>.

		</section>			
   
