---
title: Equipamento
---
<section>
    
    {% asset goban-300x279.jpg title='Go - Equipamento' alt='' %}

    <hr />
    <h3>Tabuleiro</h3>


    <p>Go é jogado num tabuleiro com número igual de linhas verticais e horizontais, incluindo as linhas que delimitam o tabuleiro. Os tabuleiros mais utilizados são: 9×9, 13×13 e 19×19.</p>

    <p>Abaixo estão os tabuleiros 9×9, 13×13 e, o tabuleiro mais utilizado, 19×19 linhas. Se você for iniciante, é aconselhável que comece jogando com o menor.</p>

    {% asset go_9x9_small.png title='Tabuleiro 9 x 9' alt='' %}
    {% asset go_13x13_small.png title='Tabuleiro 13 x 13' alt='' %}
    {% asset go_19x19_small.png title='Tabuleiro 19 x 19' alt='' %}

    
    <hr />
    <h3>Pedras</h3>


    <p>Há pedras <strong>pretas</strong> e <strong>brancas</strong>. Portanto o jogo é jogado por dois jogadores. O número total de pedras num jogo de tabuleiro 19×19, é de 361 pedras (181 <strong>pretas</strong> e 180 <strong>brancas</strong>).</p>
    <p>As pedras são pequenos discos, mas pode-se improvisar com botões ou peças de outros jogos. Elas são colocadas nas intersecções das linhas verticais e das horizontais. Para jogar num tabuleiro de 13×13 ou 9x9 não são necessárias tantas peças.

    </p>
  
    
</section>