---
title: Jogos entre Lee Sedol (9p) e AlphaGo
---
	<section>
		
		<h3>Lee Sedol (9p) (pretas) vs AlphaGo (brancas) - (Jogo #5 - 15/03/2016)</h3>

		{% review 20160315_ls_ag_5 %}

		<p></p>
    {% endreview %}

		<h3>AlphaGo (pretas) vs Lee Sedol (9p) (brancas) - (Jogo #4 - 13/03/2016)</h3>

		{% review 20160313_ag_ls_4 %}

		<p></p>
    {% endreview %}

		<h3>Lee Sedol (9p) (pretas) vs AlphaGo (brancas) - (Jogo #3 - 12/03/2016)</h3>

		{% review 20160312_ls_ag_3 %}

		<p></p>
    {% endreview %}

		<h3>AlphaGo (pretas) vs Lee Sedol (9p) (brancas) - (Jogo #2 - 10/03/2016)</h3>

		{% review 20160310_ag_ls_2 %}

		<p></p>
    {% endreview %}

		<h3>Lee Sedol (9p) (pretas) vs AlphaGo (brancas) - (Jogo #1 - 09/03/2016)</h3>

		{% review 20160309_ls_ag_1 %}

		<p></p>
    {% endreview %}

		<p>Se quiser baixar essas partidas em formato SGF, entre em <a href="http://go.alamino.net/playgoto/sgfs/leesedol_alphago">http://go.alamino.net/playgoto/sgfs/leesedol_alphago</a>.

		</section>			
   
