---
title: Jogos entre Ke Jie (9p) e AlphaGo
---
	<section>
		
		<h3>AlphaGo (pretas) vs Ke Jie (9p) (brancas) - (Jogo #3 - 27/05/2017)</h3>

		{% review 20170527alphagokejie %}

		<p></p>
    {% endreview %}

		<h3>AlphaGo (pretas) vs Ke Jie (9p) (brancas) - (Jogo #2 - 25/05/2017)</h3>

		{% review 20170525kejiealphago %}

		<p></p>
    {% endreview %}

		<h3>Ke Jie (9p) (pretas) vs AlphaGo (brancas) - (Jogo #1 - 23/05/2017)</h3>

		{% review 20170523alphagokejie %}

		<p></p>
    {% endreview %}


		<p>Se quiser baixar essas partidas em formato SGF, entre em <a href="http://go.alamino.net/playgoto/sgfs/kejie_alphago">http://go.alamino.net/playgoto/sgfs/kejie_alphago</a>.

		</section>			
   
